<a href="https://colab.research.google.com/github/anusree-nellikkunnummal/Advance-python-codes/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def call():
  a = input('Enter tour name: ')
  print(a)

call()

Enter tour name: Jay
Jay

In [5]:
def name():
  a = input('Enter your name: ')
  return a

name()

Enter your name: joe

'joe'

In [7]:
def greet(a):
  return 'Hello dear '+ a

greet('good morning')

'Hello dear good morning'

In [12]:
# doc file
def hold(s):
  '''This gives double of any value'''
  answer = s*2
  return answer

a = hold(5)
print(a)
print(hold.__doc__)

10
This gives double of any value

In [18]:
def revert(k):
  if k > 0:
    return -k
  elif k < 0:
    return k
  else:
    return 'Enter a nonzero number please'

revert(6)

-6

In [19]:
# local variable s = 6, global variable s = 10

def val():
  s = 6
  print(s)

s = 10
print(s)

10

In [20]:
val()

6

In [24]:
# changing global variable by accessing locally

a = 11
def change():
  global a
  a = 5
  print(a) 


print(a) # before function call
change() # calling function
print(a) # global a value has changed after function calling

11
5
5

In [25]:
def val(a,b):
  sum =  a+b
  return sum

val(1,2)

3

In [26]:
x = 5
y = 10
val(x,y)

15

In [31]:
# positional argument, must follow position
def person(name, age):
  print('Hello good morning ' + name)
  remaining_life = 80 - age 
  print('hey {} your remaining life is {} years'.format(name, remaining_life))

person('Karun', 32)

Hello good morning Karun
hey Karun your remaining life is 48 years

In [32]:
#keyword argument

def employee(name, salary):
  print('Employee name: ', name)
  print('Your salary is: ', salary)
  tax = salary*20/100 
  print('tax to be paid: ', tax)

employee(salary=100000, name= 'George')

Employee name:  George
Your salary is:  100000
tax to be paid:  20000.0

In [34]:
employee('Gourav', salary=20000)

Employee name:  Gourav
Your salary is:  20000
tax to be paid:  4000.0

In [35]:
employee(name='har', 300000) # keyword argument must follow positional argument

SyntaxError: ignored

In [39]:
def name(a=10, b=20): #default
  return a*b

name(30,b=50)

1500

In [40]:
def call():
  a = 10
  b = 11
  sum = a+b
  return(sum)

call()

21

In [42]:
#lambda
c = lambda a: a*2
c(5)

10

In [44]:
d = lambda s: s%10==0
d(20)

True

In [2]:
#recursion:
def tri(n):
  if(n > 0):
    result = n+ tri(n - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri(6)

Recursion Example Results
1
3
6
10
15
21

21

In [9]:
def home(n):
  if (n> 0):
    c = n + home(n - 1)
    print(c)
  else:
    c = n
  return c

home(10)

1
3
6
10
15
21
28
36
45
55

55