<a href="https://colab.research.google.com/github/anusree-nellikkunnummal/Advance-python-codes/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A function is a block of code which only runs when it is called.
# You can pass data, known as parameters, into a function.
# A function can return data as a result
# Python a function is defined using the def keyword:
def name(): # function head
  print('My name is anu')
name() # To call a function, use the function name followed by parenthesis

My name is anu

In [ ]:
# Information can be passed into functions as arguments. 1form of giving arguments:
def add(a,b):
  c = a+b
  return c

add(6,7)

13

In [ ]:
# 2nd form of giving argument:
def sub(a,b):
  c = a-b
  return c

x = 6
y = 12

sub(x,y)

-6

In [ ]:
# local and global scope 
# Local Scope. Local scope variables can only be accessed within its block.
# Global Scope. The variables that are declared in the global scope can be accessed from anywhere in the program.

#local scope
def main():
  a = 16 # local variable
  print(a)

main()

16

In [ ]:
#global scope:
def main():
  a = 16
  print(a)

a = 10
print(a)

10

In [ ]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

a = 11


def main():
  global a
  a = 6
  return a


main()
print(a)

6

6

In [ ]:
#  accessing global scope variable inside function :
a = 12


def main():
  print(a)

def calc():
  print(a)

main()
calc()

12
12

In [ ]:
# positional argument must possess an order:
 
def info(name, age):
   print(name, age)


info('anu', 30) 

'''A keyword argument is an argument passed to a function or method which is preceded by a keyword and an equals sign. The general form is:
function(keyword=value)'''

info(name='jay', age=30)
info(age = 3, name = 'joe')
info('john', age=13)

anu 30
jay 30
joe 3
john 13

In [ ]:
info(age=30, 'guna') # can any number of keyword arguments after a positional argument

TypeError: ignored

In [ ]:
#salary set to 10000 default

def employee(name, salary=10000):
  print(name, salary)

employee('sam', 20000)
employee('vinu')

sam 20000
vinu 10000

In [ ]:
# lambda - Anonymous function - just like any normal python function, except that it has no name when defining it, and it is contained in one line of code. 
c = lambda a,b: a+b
c(1,2)

3

In [ ]:
k = lambda a: a*2
print(k(6))

12

In [ ]:
name = lambda a: 'The '+ a
name('tree')

'The tree'

In [ ]:
def give(n):
  return lambda a: a*n

result = give(6)
result(2)

12

In [ ]:
def give(n):
  c = lambda a:a+n
  return c(5)

give(6)

11

In [2]:
def fun(a):
  return lambda n:n*a

c = fun(5)
c(6)

30

In [3]:
# a defined function can call itself.

def fact(n):
  if n == 0:
    return 1
  else:
    return n*fact(n-1)

fact(5)

120

In [6]:
def calc(a):
  if a == 1:
    return 1
  else:
    return a+calc(a-1)

calc(5)

15